* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
    /* background-color: #470707; */
    /* background-color: rgb(218, 192, 159); */
    background-color: beige;
    /* background-color: #470707; */
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    font-size: 48px;
    margin-top: 12px;
    padding: 20px 164px 164px;
    /* color: rgb(189, 183, 183); */
    color: #470707;
    transition: all 100ms ease;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-size: 150%; */
    font-size: 32px;
    background: transparent;
    padding: 12px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 100px;
    
}

.nav > a {
    /* color: rgb(189, 183, 183); */
    color: #470707;
    transition: all 100ms ease;
}

.nav > a:hover {
    transform: translateY(-6px);
    transition: all 100ms ease;
}

.picture {
    display: flex;
    justify-content: center;
    align-content: center;
}

.portfolio-pic {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20%;
    margin: 20px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 24px;
    /* background-color: rgb(218, 192, 159); */
    background-color: #470707;
    border-radius: 50px;
}

.about-me > p {
    margin: 24px;
    text-align: center;
    padding-left: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 24px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 32px;
    margin: 24px;
    padding-bottom: 12px;
    /* color: rgb(189, 183, 183); */
    /* color: rgb(218, 192, 159); */
    color: #470707;
    border-bottom: #470707 solid 6px;
    /* border-bottom: rgb(189, 183, 183) solid 6px; */
}

.about-me > p {
    color: rgb(189, 183, 183);
}

.h2 {
    font-size: 32px;
    margin: 24px;
    padding-bottom: 12px;
    /* color: rgb(189, 183, 183);
    border-bottom: rgb(189, 183, 183) solid 6px; */
    color: #470707;
    border-bottom: #470707 solid 6px;
}

.first-project {
    width: 800px;
    min-height: 280px;
    /* border: 4px solid rgb(189, 183, 183); */
    /* border: #470707 solid 4px; */
    border: rgb(151, 144, 144) solid 4px;
    /* border: 4px solid black; */
    box-sizing: border-box;
    margin-bottom: 16px;
    /* background-color: rgb(97, 6, 6); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("./pictures/first-project.jpg");
    /* background-repeat: repeat; */
    opacity: 0.9;
    transition: all 100ms ease;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.first-project:hover {
    transform: translateY(-6px);
    opacity: 1;
}

.second-project {
    /* border: 4px solid rgb(189, 183, 183); */
    width: 800px;
    min-height: 280px;
    box-sizing: border-box;
    margin-bottom: 16px;
    /* background-color: rgb(97, 6, 6); */
    border: #470707 solid 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("./pictures/cuPets.jpg");
    background-size: 825px 300px;
    opacity: 0.8;
    transition: all 100ms ease;
}

.second-project:hover {
    transform: translateY(-6px);
    opacity: 1;
}

.first-homework {
    /* border: 4px solid rgb(189, 183, 183); */
    /* border: #470707 solid 4px; */
    border: rgb(151, 144, 144) solid 4px;
    width: 800px;
    min-height: 140px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: rgb(97, 6, 6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("./pictures/avengers.jpg");
    opacity: 0.8;
    transition: all 100ms ease;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.first-homework:hover {
    transform: translateY(-6px);
    opacity: 1;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 12px 36px;
    padding: 24px;
    /* border: 4px solid rgb(189, 183, 183); */
    border: #470707 solid 4px;
    border-radius: 50px;
}

.contact-me > nav {
    display: flex;
}

.contact-me > nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* color: rgb(189, 183, 183); */
    color: #470707;
    padding: 12px;
    text-decoration: underline;
    transition: all 100ms ease;
}

.contact-me > nav > a:hover {
    transform: translateY(-6px);
}

@media screen and (max-width: 1020px) {
    .first-project, .second-project, .first-homework {
        width: 600px;
        background-size: 600px 300px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .first-project, .second-project, .first-homework {
        width: 500px;
        background-size: 500px 300px;
    }
    
    .hero {
        padding-left: 48px;
        padding-right: 48px;     
    }
}

@media screen and (max-width: 700px) {
    .first-project, .second-project, .first-homework {
        width: 300px;
        background-size: 300px 350px;
    }
    body {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 540px) {
    .contact-me > nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero {
        padding-left: 12px;
        padding-right: 12px;
    }
    .about-me {
        padding: 12px;
    }
}

@media screen and (max-width: 342px) {
    .hero {
        padding-left: 8px;
        padding-right: 8px;
    }
}