* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --dark: #33393f;
    --light: #86A3C3;
    --dark-accent: #7268A6;
    --light-accent: #B6CEC7;
}


/* Styles For The Header Img */
.hero {
    /* photo by Ilya Pavlov on Unsplash */
    background: url('/pictures/header\(ilyapavlov\).jpg') center;
    background-size: cover;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    color: #fff;    
}

.hero a {
    text-decoration: none;
    color: #fff;    
    margin-left: 5.5rem;   
    opacity: .8;    
}

/* hovering for the links to make them not have any opacity once hovered on them */
a:hover {
    opacity: 1.2;    
}

a:focus {
    outline: auto;
}

.hero > h1 {
    margin-left: 40px;
    font-size: 3rem;    
    opacity: .8;   
}

.portfolio-pic { 
    max-width: 250px;
    max-height: 250px;
    /* border-radius: 30%; */
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    /* photo by Joe Woods from Unsplash */
    background-image: url("/pictures/background-for-aboutme\(joewoods\).jpg");
    font-size: 125%;
    margin: 30px;
}

.about-me > p {
    margin-left: 50px;
}

.about-me > h2 {
    border-right: 4px solid black;
    padding-right: 16px;
    margin: 16px;
}

/* Work Section */

.work {
    padding: 1rem;    
}

.work > ul {
    display: grid;    
    grid-template-columns: 50% 25% 25%;
    grid-gap: .5rem;    
}

.work > ul > li {
    border: 1px solid var(--light);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    list-style-type: none;
    opacity: 0.8;
}

.work > ul > li:hover {
    opacity: 1;
    cursor: pointer;
}

.work > ul > li:active {
    box-shadow: 0 0 10px var(--light-accent) inset;
}


.work > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    position: relative;
}

.work > ul > li > figure > img {
    width: 100%;
}

.work > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: .5;
}

.big-project {
    display: inline-block;
    width: 100%;
    min-height: 300px;
    background-image: url("/pictures/seo-accesibility-hw1.png");
}

/* Contact Me Section */

.contact-me {
    /* photo by Melinda Gimpel on Unsplash */
    background: url('/pictures/background1(melindagimpel).jpg');
    background-size: cover;    
    padding: 50px 30px;
    align-items: center;
    padding-right: 200px;
    margin: 20px 40px;    
}

.contact-me > ul {
    display: flex;    
    justify-content: space-evenly;
    list-style-type: none;    
}

.contact-me > ul > a {    
    text-decoration: none;
    color: #fff;    
    text-align: center; 
}

h3 {
    text-decoration: underline;
    color: #fff;
}

footer {
    text-align: center;
    margin: 40px;
}

/* media queries */

@media screen (max-width: 425px) {
    .about-me {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        width: 100%;
    }

    .about-me > p {
        flex-direction: column;
    }
}


@media screen (max-width: 768px) {
    .contact-me  {
        display: flex;
        justify-content: column;
    }
}